<div class="relative w-full h-96 z-10 bg-red-500">


     <div class="absolute flex w-full h-full sm:h-80">
          <div class="flex justify-between w-full mx-3 my-auto">
               <button class="text-white" (click)="prevImage()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                         <path stroke-linecap="round" stroke-linejoin="round"
                              d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
                    </svg>
               </button>
               <button class="text-white" (click)="nextImage()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                         <path stroke-linecap="round" stroke-linejoin="round"
                              d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                    </svg>
               </button>
          </div>


     </div>

     <div id="slider" class="w-full h-full mx-px my-px ">
          <img src="attender.jpg" class="w-full h-full" alt="attender" [class.hidden]="currentImageIndex !== 0">

          <img src="civilwork.jpg" class="w-full h-full" alt="civilwork" [class.hidden]="currentImageIndex !== 1">

          <img src="dataoperator.jpg" class="w-full h-full" alt="dataoperator" [class.hidden]="currentImageIndex !== 2">

          <img src="driver.webp" class="w-full h-full" alt="driver" [class.hidden]="currentImageIndex !== 3">

          <img src="manpower.jpg" class="w-full h-full" alt="manpower" [class.hidden]="currentImageIndex !== 4">

          <img src="office.jpg" class="w-full h-full" alt="office" [class.hidden]="currentImageIndex !== 5">
<!-- 
          <img src="plumber.jpg" class="w-full h-full" alt="" [class.hidden]="currentImageIndex !== 6">

          <img src="storekeeper.jpeg" class="w-full h-full" alt="" [class.hidden]="currentImageIndex !== 7"> -->

     </div>

</div>