<div id="categories" class="h-fit p-10 bg-red-600">
     <h1 class="pt-24 text-5xl font-semibold ml-5 text-white underline">Job Categories</h1>
     <div class="w-full h-fit p-10 flex-col flex sm:flex-row justify-start">
          <ul class="text-2xl text-white justify-evenly flex-col">
               <li class="m-3">Securities</li>
               <li class="m-3">Drivers </li>
               <li class="m-3">man power labours</li>
               <li class="m-3">Data operators
               </li>
               <li class="m-3">Attenders</li>
               <li class="m-3">Office staffs</li>
               <li class="m-3">Civil work</li>
          </ul>
          <!-- <ul class="text-2xl text-white justify-evenly flex-col">
               <li class="m-3">Welder</li>
               <li class="m-3">Cleaner</li>
               <li class="m-3">Packers</li>
               <li class="m-3">Painter</li>
               <li class="m-3">Plumber</li>
               <li class="m-3">Electrician</li>
          </ul>
          <ul class="text-2xl text-white justify-evenly flex-col">
               <li class="m-3">Desiel mechanic</li>
               <li class="m-3">Civil draftsman , Civil eng</li>
               <li class="m-3">Electrical technician</li>
               <li class="m-3">electrical engineering</li>
               <li class="m-3">Mechanical technician, mech eng</li>
               <li class="m-3">Storekeeper</li>
          </ul>
          <ul class="text-2xl text-white justify-evenly flex-col">
               <li class="m-3">Accountant</li>
               <li class="m-3">Admin</li>
               <li class="m-3">Sales executive</li>
               <li class="m-3">Chef</li>
               <li class="m-3">Waiter</li>
               <li class="m-3">Store manager</li>
          </ul>
          <ul class="text-2xl text-white justify-evenly flex-col">
               <li class="m-3">Store assistant</li>
               <li class="m-3">Graphic designer</li>
               <li class="m-3">CNC operator</li>
               <li class="m-3">Lathe mission operator</li>
               <li class="m-3">Mission operator</li>
               <li class="m-3">HVAC technician</li>
          </ul>
          <ul class="text-2xl text-white justify-evenly flex-col">
               <li class="m-3">Fitter</li>
               <li class="m-3">Doctor</li>
               <li class="m-3">Safety Officer </li>
               <li class="m-3">Civil foreman </li>
               <li class="m-3">Project manager</li>
          </ul> -->
     </div>
</div>

<!-- 1. Welder \
2. Cleaner \
3. Packers \
4. Painter \
5. Plumber \
6. Electrician \
7. AC technician \
8. Desiel mechanic \
9. Civil draftsman , Civil eng \
10. Electrical technician \,
11. electrical engineering \,
12. Mechanical technician, mech eng \
13. Storekeeper \
14. Cashier \
15. Accountant \
16. Admin \
17. Sales executive \
18. Chef \
19. Waiter \
20. Store manager \
21. Store assistant \
22. Graphic designer \
23. CNC operator \
24. Lathe mission operator \
25. Mission operator \
26. HVAC technician \
27. Mechanical technician and  engineering
28. Fitter
29. Nurse \
30. Doctor 
31. Safety Officer 
32. Civil foreman 
33. Project manager
34. Driver \
35. Carpenter \ 
36. Car mechanic \ -->