<div id="aboutus" class="h-fit  bg-red-900 flex p-8 pb-10 flex-col text-justify">
     <h1 class="pt-16 text-5xl font-semibold  text-center text-white underline">About Us</h1>

     <div class=" my-8 text-lg leading-relaxed text-white">
          <p>We are committed to delivering excellent service and providing innovative solutions for our customers. Our team works tirelessly to meet and exceed expectations.</p>
        </div>
      
        <div class="w-5/6 p-6  mb-6 bg-gray-100 rounded-lg shadow-md">
          <h2 class="mb-4 text-2xl font-semibold text-gray-800">Our Mission</h2>
          <p>{{ mission }}</p>
        </div>
      
        <div class="w-5/6 p-6  bg-gray-100 rounded-lg shadow-md">
          <h2 class="mb-4 text-2xl font-semibold text-gray-800">Our Vision</h2>
          <p>{{ vision }}</p>
        </div>
</div>