<nav
  class="fixed flex flex-row justify-between  w-full h-auto bg-white border-b-2 drop-shadow-2xl border-red-600 px-4 sm:px-8 z-50">
  <a href="#" class="flex items-center space-x-2">
    <div class="flex flex-col">
      <div class="text-xl pl-5 sm:text-3xl font-semibold text-red-600">SM Enterprises</div>
      <!-- <div class="text-sm sm:text-md text-red-600 w-auto ">
        SM Enterprises
      </div> -->
    </div>
  </a>

  <button id="menu-toggle" class="block sm:hidden right-0 text-red-600 text-3xl focus:outline-none" (click)="toggle()">
    &#9776;
  </button>

  <div id="menu"
    class="hidden sm:flex flex-col sm:flex-row sm:items-center sm:justify-between w-full sm:w-auto text-xl text-red-600 mt-4 ml-20 sm:mt-0">
    <a (click)="toggle()" href="#home" class="px-1 mx-2 py-2 hover:text-red-800 w-18">Home</a>
    <a (click)="toggle()" href="#categories" class="px-1 mx-2 py-2 hover:text-red-800 w-18">Job Categories</a>
    <a (click)="toggle()" href="#aboutus" class="px-1 mx-2 py-2 hover:text-red-800 w-24">About Us</a>
    <a (click)="toggle()" href="#contactus" class="px-1 mx-2 py-2 hover:text-red-800 w-28">Contact Us</a>
    <!-- <a (click)="toggle()" href="https://forms.gle/akhtmmPhwK3EVrSf8" target="_blank" class="px-1 mx-2 py-2 hover:text-red-800">Form</a> -->
  </div>


</nav>
<div class="bg-white sm:hidden flex fixed h-fit text-center text-red-500 border-4 border-red-500 w-40 right-2 top-20 z-30  flex-col" *ngIf ="menuView">
  <a (click)="toggle()" href="#home" class=" border-2 border-red-500 hover:text-red-800 w-full">Home</a>
  <a (click)="toggle()" href="#categories" class=" border-2 border-red-500 hover:text-red-800 w-full">Job Categories</a>
  <a (click)="toggle()" href="#aboutus" class=" border-2 border-red-500 hover:text-red-800 w-full">About Us</a>
  <a (click)="toggle()" href="#contactus" class=" border-2 border-red-500 hover:text-red-800 w-full">Contact Us</a>
  <!-- <a (click)="toggle()" href="https://forms.gle/akhtmmPhwK3EVrSf8" target="_blank" class=" border-2 border-red-500 w-full hover:text-red-800">Form</a> -->
</div>