<div id="contactus" class="h-fit pb-16 bg-red-700">
     <h1 class="pt-10 text-5xl font-semibold text-center text-white underline">Contact Us</h1>
     <div class="flex sm:flex-row flex-col pt-14 mx-20">
          <div class="w-full text-white h-96 ">
               <h1 class="mx-20 mt-10 text-xl font-semibold">How can we Help you ?</h1>
               <form class="flex flex-col mx-auto mt-10" action="https://formsubmit.co/airwaysplacementservices.md@gmail.com" method="POST">
                    <label for="name" class="font-sans font-semibold">Name :</label>
                    <input class="border-2 border-white rounded-lg w-96 focus:border-red-600" type="text" name="name" id="name">
                    <label for="Email" class="font-sans font-semibold">Email :</label>
                    <input class="border-2 border-white rounded-lg w-96 focus:border-red-600" type="email" name="Email" id="Email">
                    <label for="number" class="font-sans font-semibold">Phone number :</label>
                    <input class="border-2 border-white rounded-lg w-96 focus:border-red-600" type="tel" name="number" id="number">
                    <label for="message" class="font-sans font-semibold">Message :</label>
                    <textarea class="text-black border-2 border-white rounded-lg w-96 focus:border-red-600" name="message" id="message"></textarea>
                    <input class="w-20 px-3 py-2 mt-3 font-serif text-xl font-extrabold text-red-600 bg-white border-2 border-white rounded-xl" type="submit" value="Send">
               </form>
          </div>
          <div class="w-full text-white h-fit pt-10">
               <!-- <h1 class="pt-10 font-semibold">Mobile Number : 9380882191</h1> -->
               <label class="font-semibold ">Email : {{mailId}}</label>
          </div>
     </div>
</div>